.error404{
    #page{
        background: $very-light-gray; 
        height: 100vh;
        .container-fluid{
            min-height: calc(100% - 146px);           
        }
        .error-404-content{
            text-align: center;
            padding: 5em 0;
            .icon{
                width: 100px;
                height: 100px;
                @include media-breakpoint-up(md) {
                    width: 125px;
                    height: 125px;
                }
            }
            .btn-group{
                margin-top: 2em;
            }
        }
    }
}