.svg{
    img{
        width: 100%;
        height: auto;
    }
}

.text-center{
    text-align: center;
}

.circle{
    border-radius: 50%;
}

.sr-only{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.zero-top{
    margin-top: 0;
    padding-top: 0;
}


.hidden-sm-up{
    display: block;
    @include media-breakpoint-up(md) {
        display: none;    
    }
}

.visible-md-up{
    display: none;
    @include media-breakpoint-up(md) { 
        display: block;        
    }
}
