.testimonial-block{
    position: relative;
    border-top: 2px dashed lighten($light-gray-blue, 8%);
    border-bottom: 2px dashed lighten($light-gray-blue, 8%);
    margin: 0;
    padding: 2.5em 4.5em; 
    @include media-breakpoint-up(sm) {
        padding: 2.5em 5em;     
    }
    @include media-breakpoint-up(lg) {
        padding: 2.5em 9em;    
    } 
    p{
        margin: 0;
    }
    .quotation-mark-left, .quotation-mark-right{
        position: absolute;
        font-size: 7em;
        line-height: .75em;
        font-weight: 600;
        color: $light-gray;
        background: white;
        font-family: $text-font;
        height: 60px;
        @include media-breakpoint-up(sm) {
            font-size: 1oem;    
        }
        @include media-breakpoint-up(lg) {
            font-size: 14em;  
            height: 75px;
        }
    }
    .quotation-mark-left{
        top: 30px;
        left: 0;
        padding-right: 0.03em;
        @include media-breakpoint-up(lg) {
            padding-right: 0;
        }
    }
    .quotation-mark-right{
        bottom: 30px;
        right: 0;
        padding-left: 0.03em;
        @include media-breakpoint-up(lg) {
            padding-left: 0;
        }
    }
    h4{
        color: $brand-color1;
        font-family: $text-font;
        font-weight: 300;
        font-size: .9em;
    }
}

.owl-dots{
    text-align: center;
    margin-top: 1em;
    .owl-dot{
        background: none;
        border: 0;
        padding: 0;
        span{
            display: inline-block;
            width: 15px;
            height: 15px;
            background: $med-light-gray;
            border-radius: 50%;
            margin: 0.4em;
        }
        &.active{
            span{
                background: $brand-color2;
            }
        }
    }
}